/Dias/dia4.aux
/Dias/dia4.log
/Dias/dia4.pdf
/Dias/dia4.synctex.gz
/Dias/dia3.aux
/Dias/dia3.log
/Dias/dia3.pdf
/Dias/dia3.synctex.gz
/Dias/dia2.aux
/Dias/dia2.log
/Dias/dia2.pdf
/Dias/dia2.synctex.gz
/Programa/taller.aux
/Programa/taller.log
/Programa/taller.pdf
/Programa/taller.synctex.gz
/Dias/dia1.aux
/Dias/dia1.log
/Dias/dia1.pdf
/Dias/dia1.synctex.gz
