/Data/BLAST (attempt).html
/Data/BLAST (attempt).py
/Data/QSAR.html
/Dias/dia9.aux
/Dias/dia9.log
/Dias/dia9.out
/Dias/dia9.pdf
/Dias/dia9.synctex.gz
/Dias/dia8.aux
/Dias/dia8.log
/Dias/dia8.out
/Dias/dia8.pdf
/Dias/dia8.synctex.gz
/Dias/dia7.aux
/Dias/dia7.log
/Dias/dia7.out
/Dias/dia7.pdf
/Dias/dia7.synctex.gz
/Dias/dia6.aux
/Dias/dia6.log
/Dias/dia6.out
/Dias/dia6.pdf
/Dias/dia6.synctex.gz
/Dias/dia5.aux
/Dias/dia5.log
/Dias/dia5.out
/Dias/dia5.pdf
/Dias/dia5.synctex.gz
/Dias/dia1.out
/Dias/dia2.out
/Dias/dia3.out
/Dias/dia4.out
/Dias/dia2.dvi
/Dias/dia4.aux
/Dias/dia4.log
/Dias/dia4.pdf
/Dias/dia4.synctex.gz
/Dias/dia3.aux
/Dias/dia3.log
/Dias/dia3.pdf
/Dias/dia3.synctex.gz
/Dias/dia2.aux
/Dias/dia2.log
/Dias/dia2.pdf
/Dias/dia2.synctex.gz
/Dias/dia1.aux
/Dias/dia1.log
/Dias/dia1.pdf
/Dias/dia1.synctex.gz
/Programa/taller.aux
/Programa/taller.log
/Programa/taller.pdf
/Programa/taller.synctex.gz
/Sesiones/sesion1.aux
/Sesiones/sesion1.log
/Sesiones/sesion1.out
/Sesiones/sesion1.pdf
/Sesiones/sesion1.synctex.gz
/Sesiones/sesion2.aux
/Sesiones/sesion2.log
/Sesiones/sesion2.out
/Sesiones/sesion2.pdf
/Sesiones/sesion2.synctex.gz
/Sesiones/sesion3.aux
/Sesiones/sesion3.log
/Sesiones/sesion3.out
/Sesiones/sesion3.pdf
/Sesiones/sesion3.synctex.gz
/Sesiones/sesion4.aux
/Sesiones/sesion4.log
/Sesiones/sesion4.out
/Sesiones/sesion4.pdf
/Sesiones/sesion4.synctex.gz
/Sesiones/sesion5.aux
/Sesiones/sesion5.log
/Sesiones/sesion5.out
/Sesiones/sesion5.pdf
/Sesiones/sesion5.synctex.gz
/Sesiones/sesion6.aux
/Sesiones/sesion6.log
/Sesiones/sesion6.out
/Sesiones/sesion6.pdf
/Sesiones/sesion6.synctex.gz
/Sesiones/sesion7.aux
/Sesiones/sesion7.log
/Sesiones/sesion7.out
/Sesiones/sesion7.pdf
/Sesiones/sesion7.synctex.gz
/Sesiones/sesion8.aux
/Sesiones/sesion8.log
/Sesiones/sesion8.out
/Sesiones/sesion8.pdf
/Sesiones/sesion8.synctex.gz
/Sesiones/sesion9.aux
/Sesiones/sesion9.log
/Sesiones/sesion9.out
/Sesiones/sesion9.pdf
/Sesiones/sesion9.synctex.gz
/Sesiones/sesion10.aux
/Sesiones/sesion10.log
/Sesiones/sesion10.out
/Sesiones/sesion10.pdf
/Sesiones/sesion10.synctex.gz
/Sesiones/sesion11.aux
/Sesiones/sesion11.log
/Sesiones/sesion11.out
/Sesiones/sesion11.pdf
/Sesiones/sesion11.synctex.gz
