/Dias/dia9.aux
/Dias/dia9.log
/Dias/dia9.out
/Dias/dia9.pdf
/Dias/dia9.synctex.gz
/Dias/dia8.aux
/Dias/dia8.log
/Dias/dia8.out
/Dias/dia8.pdf
/Dias/dia8.synctex.gz
/Dias/dia7.aux
/Dias/dia7.log
/Dias/dia7.out
/Dias/dia7.pdf
/Dias/dia7.synctex.gz
/Dias/dia6.aux
/Dias/dia6.log
/Dias/dia6.out
/Dias/dia6.pdf
/Dias/dia6.synctex.gz
/Dias/dia5.aux
/Dias/dia5.log
/Dias/dia5.out
/Dias/dia5.pdf
/Dias/dia5.synctex.gz
/Dias/dia1.out
/Dias/dia2.out
/Dias/dia3.out
/Dias/dia4.out
/Dias/dia2.dvi
/Dias/dia4.aux
/Dias/dia4.log
/Dias/dia4.pdf
/Dias/dia4.synctex.gz
/Dias/dia3.aux
/Dias/dia3.log
/Dias/dia3.pdf
/Dias/dia3.synctex.gz
/Dias/dia2.aux
/Dias/dia2.log
/Dias/dia2.pdf
/Dias/dia2.synctex.gz
/Programa/taller.aux
/Programa/taller.log
/Programa/taller.pdf
/Programa/taller.synctex.gz
/Dias/dia1.aux
/Dias/dia1.log
/Dias/dia1.pdf
/Dias/dia1.synctex.gz
